{% extends "prebase.html" %}
{% block content %}
{% include 'flash.html' %}

<div class="well" id="login_area">
    <h3>Please Sign In</h3>
    <form class="form" action="" method="post" name="login">
        {{form.hidden_tag()}}
        <p>
            Username:<br>
            {{ form.username(size=80) }}<br>
        </p>
        <p>
            Password:<br>
            {{ form.password(size=80) }}<br>
        </p>  
        
        <div class="control-group">
            <div class="controls">
                <input class="btn btn-primary" id="login_button" name="login_button" type="submit" value="Sign In">
            </div>
        </div>
    </form>
</div>
Connected to Server: {% print connected_server %}
{% endblock %}